[submodule "Data-Streaming"]
	path = Data-Streaming
	url = https://github.com/resilmesh2/Data-Streaming.git
[submodule "Data-Normalization"]
	path = Data-Normalization
	url = https://github.com/resilmesh2/Data-Normalization.git
[submodule "Data-Transformation"]
	path = Data-Transformation
	url = https://github.com/resilmesh2/Data-Transformation.git
